
#flip {margin-left:120px;
	   margin-top: -50px;
	   
} 
    

#panel { margin-bottom: 50px;
    	 padding:-100px;
    	 margin-left:-10px;
}
#panel input {
	margin: 0 -105px 0 -15px;
	margin-left:130px;
	margin-top: 30px;
}
ul {
	margin-top: 20px;
	margin-left:-25px;
	}
	
